html {
    font-family: Arial, Helvetica, sans-serif;
}
#html-demo {
    color: black;
    height: 25px;
    width: 150px;
    font-size: 16px;
    font-family: cursive;
    text-align: center;
    display: inline-block;
    height: fit-content;
    background-color: #999999;    
}

.green-c {
    color: rgb(0, 112, 28);
    font-size: 20px;
    font-weight: bold;
}
#root {
    height: 200px;
    width: 200px;
    border: 1px solid #343434;
}
#parent {
    height: 150px;
    width: 150px;
    border: 1px solid #343434;
}
#child {
    height: 100px;
    width: 100px;
    border: 1px solid #343434;
    color: #efefef;
}
#table {
    font-size: 22px;
    font-style: italic;
    font-family: inherit;
    text-decoration-color: blue;
    text-decoration: underline;
    text-align: center;
    background-color: cadetblue;
    background-size: auto;
}
#table main {
    text-align: center;
}
#block {
    display: inline-block;
    height: 1.5rem;
    width: 3rem;
    background-color: chartreuse;
    color: rgb(0,0,0);
}
#hello {
    border: 10px solid red;
    display: inline;
    background-color: antiquewhite;
    border-top-left-radius: 10px;
    border-top-right-radius: 00px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 00px;
    margin-left: 40%;
}
#hello2 {
    display: block;
    width: 120px;
    height: 26px;
    background-color: darkorange;
    border-block-width: thick;
    border-style: solid;
    border-top-color: #ff5722;
    margin-left: 40%;
}
#hello3 {
    border-bottom: 2px dotted black;
    border-width:thick;
    width:100px;
}
#hello4 {
    border: 5px dotted royalblue;
    border-radius: 30%;
    display: inline-block;
    margin-left: 40%;
    font-size: 1.5rem;
}
#intro {
    border: solid;
    display: block;
    border-block-color: black;
    height: 100px;
    width: 100px;
    padding: 20px 10px 20px 10px;
    margin: 20px 10px 20px 50%;
    box-sizing: border-box;
}
#cssfixedprop {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position: fixed;
    right: 0px;
    top: 100px;
}
#cssrelativeprop {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: relative;
    left: 45%;
    right: 45%;
    top: 100px;
}
#cssabsoluteprop {
    width: 100px;
    height: 100px;
    background-color: rgb(13, 241, 25);
    position: absolute;
    left: 75px;
    top: 25px;
    right: 25px
}
#abparent {
    width: 150px;
    height: 150px;
    background-color: cornflowerblue;
    position: relative;
    left: 0px;
    bottom: 0px;
}
#cssstickyprop {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: darkslategrey;
    width: 300px;
    height: 50px;
    background-color:crimson;
    position: sticky;
    left: 50px;
    top: 50px;
}
#demo {
    float: right;
}
#leftbox {
    float: left;
    width: 33%;
    height: 150px;
    background-color: dimgray;
    font-size: 55px;
}
#rightbox {
    float: right;
    width: 33%;
    height: 150px;
    background-color: rgb(131, 45, 112);
    font-size: 55px;
}
#listdemo {
    /* list-style-type: circle;
    list-style-position: inside;
    list-style-image: url(https://icon-library.com/images/small-arrow-icon/small-arrow-icon-1.jpg); */
    list-style: circle inside;
}


a:link {
    color: red;
}
a:visited {
    color: grey;
}
a:hover {
    color: green;
    font-size: 20px;
}
a:active {
    color:yellow;
    font-size: 50px;
}
div#content p:first-child {
    color: #ff5722;  
}
#shadowtext {
    display: block; 
    height: fit-content;
    width: fit-content;
    text-shadow: 2px 2px 4px grey;
     
}
#shadowbox {
    height: 100px;
    width: 100px;
    background-image: linear-gradient(227deg,#3f51b5,#2196f3);
    /* background-image: radial-gradient(circle,red,green,yellow); */
    box-shadow: 3px 2px 9px 2px grey;
}


/* Transition and transformation demo */
#animbox {
    height: 100px;
    width: 100px;
    border-top-right-radius: 10px;
    background-color: #3f51b5;
    margin: 50px;
    transition-duration: 500ms;
    transition-property: background-color,width;
    transition-timing-function: ease-in;
}
#animbox:hover {
    background-color: aquamarine;
    width: 300px;
}
#animbox2 {
    height: 100px;
    width: 100px;
    border-top-right-radius: 10px;
    background-color:red;
    margin: 50px;
    transition: transform 500ms, background-color 3s;
}

#animbox2:hover {
    background-color: salmon;
    transform: translate(20px,20px) rotate(90deg) scale(1.3,1.3);
}